<?php

include_once __DIR__ . "/vendor/autoload.php";

if (!isset($_SERVER['DOCUMENT_ROOT']) || $_SERVER['DOCUMENT_ROOT'] == '') {
    $_SERVER['DOCUMENT_ROOT'] = __DIR__;
}

\Mpakfm\Printu::setPath(__DIR__ . '/log');

use PhpCsFixer\PhpCsFixerConfig;
use PhpCsFixer\Config;

return Config::create()
    ->setUsingCache(true)
    ->setRiskyAllowed(true)
    ->setFinder(PhpCsFixerConfig::createPhpFilesFinder())
    ->setRules(PhpCsFixerConfig::getAppliedRulesConfigForPhpFiles());
